# Ignore the large downloaded dataset files
FISB Dataset/

# Ignore the large folder of processed images
processed_images/

# Ignore the AI embedding cache files
*.pkl

# Ignore Python's virtual environment folder
virt1/